#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Thu Dec 26 10:30:50 NZDT 2024
experienceDropChance=5
speedEnhancementUpgradeSpeed=6
tier0progressionUpgradeSpeed=0
tier1progressionUpgradeSpeed=3
tier2progressionUpgradeSpeed=6
tier3progressionUpgradeSpeed=9
